<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.mygym.comment.gathering">

   <resultMap id="comment"
      type="com.mycompany.mygym.comment.gathering.vo.GComment">
      <result property="commentGnum" column="comment_gnum" jdbcType="BIGINT"
         javaType="java.lang.Long" />
      <result property="commentGdate" column="comment_gdate" jdbcType="DATE"
         javaType="java.sql.Date" />
      <result property="articleGnum" column="article_gnum" jdbcType="BIGINT"
         javaType="java.lang.Long" />
      <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"
         javaType="java.lang.String" />
      <result property="commentGcontent" column="comment_gcontent" jdbcType="VARCHAR"
         javaType="java.lang.String" />
   </resultMap>

   	<select id="selectCommentList" resultMap="comment">
      SELECT  C.comment_gnum , C.comment_gdate, C.user_nickname,C.comment_gcontent , C.article_gnum
	  FROM comment_gathering AS C
	  INNER JOIN user AS U
	  ON C.user_nickname = U.user_nickname
	  WHERE C.article_gnum = #{articleGnum}
  	</select>

	<insert id="insertComment" parameterType="com.mycompany.mygym.comment.gathering.vo.GComment">
		INSERT INTO comment_gathering (article_gnum, user_nickname, comment_gcontent)
		VALUES ( #{articleGnum}, #{userNickname}, #{commentGcontent} )
	</insert>

	<update id="updateComment" parameterType="com.mycompany.mygym.comment.gathering.vo.GComment">
		UPDATE comment_gathering
		SET comment_gcontent = #{commentGcontent}
		WHERE comment_gnum = #{commentGnum}
	</update>
	
	<delete id="deleteComment" parameterType="com.mycompany.mygym.comment.gathering.vo.GComment">
		DELETE FROM comment_gathering
		WHERE comment_gnum = #{commentGnum}
	</delete>
	
	
</mapper>